.h1 {
    font-size: 100px;
    text-align: center;
}

.button_div {
    text-align: center;
    width: 195px;
    position: sticky;
    top: 0;
}


/*Hauptseite*/

.button_main {
    background-color: #5AF035;
    border-color: #5AF035;
    width: 250px;
    height: 90px;
    font-size: 30px;
}

.body_main {
    background-image: url('./lukka-coppercoat-outcast_iko_1920x1080_wallpaper.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.button_p:hover {
    background-color: #AF3C30;
    border-color: #AF3C30;
}


/*Projektseite*/

.button_p {
    background-color: #45a6c0;
    border-color: #45a6c0;
    width: 250px;
    height: 90px;
    font-size: 30px;
}

.body_p {
    background-image: url('./background_p.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.button_p:hover {
    background-color: #aeb31e;
    border-color: #aeb31e;
}